*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.Playlist{
    background-image: url("./imagens/bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff ;

}

.Eventos{
    background-image: url("./imagens/eventos.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

